<div class="card">
  <div class="card-header bg-primary text-white">
    {{title}}
  </div>
  <div class="card-block">
    <form class="form mt-3">
      <div class="form-group row">
        <label class="col-form-label col-sm-2 text-sm-right"
                for="filterDesc">Filtro:</label>
        <div class="col-sm-5">
          <input type="text" [(ngModel)]="filterSearch" class="form-control"
                  name="filterDesc" id="filterDesc" placeholder="Filtro...">
        </div>
        <label class="col-form-label col-sm-5" *ngIf="filterSearch">
                Filtrando por: {{filterSearch}}</label>
      </div>
    </form>
    <div class="table-responsive" *ngIf="products && products.length">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <button class="btn btn-sm"
                      [ngClass]="{'btn-danger': showImage, 'btn-primary': !showImage}"
                      (click)="toggleImage()">
                {{showImage?'Ocultar':'Mostrar'}} imagen
              </button>
            </th>
            <th>{{headers.desc}}</th>
            <th>{{headers.price}}</th>
            <th>{{headers.avail}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | productFilter:filterSearch">
            <td>
              <img *ngIf="showImage" [src]="product.imageUrl"
              alt="" [title]="product.desc | uppercase">
            </td>
            <td>{{product.desc}}</td>
            <td>{{product.price | currency:'EUR':'symbol'}}</td>
            <td>{{product.avail | date:'dd/MM/y'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>